// Base

// Noto Sans JP フォント
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Std W8',
		'Noto Sans JP', 'Hiragino Sans', Meiryo, sans-serif;
	margin: 0 auto;
	width: 100vw;
	font-size: 22px;
	line-height: 1.7;
}

// a要素のアンダーライン消す
.link {
	text-decoration: none;
}

// リンクをホバーした時
.linkHover:hover {
	opacity: 0.4;
}

//要素を非表示
.is-hide {
	display: none;
}
