// Base

@import 'variables';

// Noto Sans JP フォント
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Std W8',
		'Noto Sans JP', 'Hiragino Sans', Meiryo, sans-serif;
	margin: 0 auto;
	width: 100vw;
	font-size: 22px;
	line-height: 1.7;
	color: $mainColor;
	background-color: $baseColor;
}

// a要素のアンダーライン消す
.link {
	text-decoration: none;
}

// リンクをホバーした時
.linkHover:hover {
	opacity: 0.4;
}

//要素を非表示
.is-hide {
	display: none;
}

// テキストサイズ
//styleGuide.md参照
.text-xxlarge {
	font-size: $text-xxlarge !important;
}
.text-xlarge {
	font-size: $text-xlarge !important;
}
.text-large {
	font-size: $text-large !important;
}
.text-xxxmedium {
	font-size: $text-xxxmedium !important;
}
.text-xxmedium {
	font-size: $text-xxmedium !important;
}
.text-xmedium {
	font-size: $text-xmedium !important;
}
.text-medium {
	font-size: $text-medium !important;
}
.text-small {
	font-size: $text-small !important;
}

// フォント
.font-extra {
	font-family: 'Hiragino Kaku Gothic Std W8';
}
.font-emphasis {
	font-weight: bold;
}

// 画像サイズ
.img-full {
	width: 100%;
}
.img-fv {
	width: 100vw;
	margin: 0 calc(50% - 50vw);
}
