// Module

@import 'variables';

/* Top */
.top-wrapper {
	position: relative;
	p {
		position: absolute;
	}
}
.top__title {
	top: 12vw;
	left: 3vw;
}
.top__subtitle {
	top: 34vw;
	right: 3vw;
}

/* About */
// profile
.profile-wrapper {
	display: flex;
	justify-content: space-between;
	img {
		width: 480px;
	}
}
.profile-text-wrapper {
	width: 480px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	a {
		width: 100%;
		img {
			width: 30%;
		}
	}
}

// skills
.skills-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;

	li {
		width: 100%;
		list-style: none;
		margin: 0.5% 0;

		ul {
			display: flex;
			justify-content: space-between;
			padding: 0;

			li {
				position: relative;
				width: $img-skill-width;
				height: $img-skill-width;

				img {
					width: 100%;
					&:last-child {
						position: absolute;
						top: 0;
						left: 0;
					}
				}
				span:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $baseColor;
				}
			}
		}
	}
}
