// Module

@import 'variables';

// 画像サイズ
.img-full {
	width: 100%;
}
.img-fv {
	width: 100vw;
	margin: 0 calc(50% - 50vw);
}

// TOP
.top-wrapper {
	position: relative;
	p {
		position: absolute;
	}
}
.top-wrapper__title {
	top: 12vw;
	left: 3vw;
}
.top-wrapper__subtitle {
	top: 34vw;
	right: 3vw;
}
