@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Std W8', 'Noto Sans JP', 'Hiragino Sans', Meiryo, sans-serif;
  margin: 0 auto;
  width: 100vw;
  font-size: 22px;
  line-height: 1.7;
  color: #13131f;
  background-color: #f6f6f6;
}

.link {
  text-decoration: none;
}

.linkHover:hover {
  opacity: 0.4;
}

.is-hide {
  display: none;
}

.text-xxlarge {
  font-size: 3.64583vw !important;
}

.text-xlarge, .section-title {
  font-size: 2.60417vw !important;
}

.text-large {
  font-size: 2.29167vw !important;
}

.text-xxxmedium, .section-subtitle {
  font-size: 1.5625vw !important;
}

.text-xxmedium {
  font-size: 1.45833vw !important;
}

.text-xmedium {
  font-size: 1.25vw !important;
}

.text-medium {
  font-size: 1.14583vw !important;
}

.text-small {
  font-size: 16px !important;
}

.font-extra, .section-title {
  font-family: 'Hiragino Kaku Gothic Std W8';
}

.font-emphasis {
  font-weight: bold;
}

.img-full {
  width: 100%;
}

.img-fv {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Std W8', 'Noto Sans JP', 'Hiragino Sans', Meiryo, sans-serif;
  margin: 0 auto;
  width: 100vw;
  font-size: 22px;
  line-height: 1.7;
  color: #13131f;
  background-color: #f6f6f6;
}

.link {
  text-decoration: none;
}

.linkHover:hover {
  opacity: 0.4;
}

.is-hide {
  display: none;
}

.text-xxlarge {
  font-size: 3.64583vw !important;
}

.text-xlarge, .section-title {
  font-size: 2.60417vw !important;
}

.text-large {
  font-size: 2.29167vw !important;
}

.text-xxxmedium, .section-subtitle {
  font-size: 1.5625vw !important;
}

.text-xxmedium {
  font-size: 1.45833vw !important;
}

.text-xmedium {
  font-size: 1.25vw !important;
}

.text-medium {
  font-size: 1.14583vw !important;
}

.text-small {
  font-size: 16px !important;
}

.font-extra, .section-title {
  font-family: 'Hiragino Kaku Gothic Std W8';
}

.font-emphasis {
  font-weight: bold;
}

.img-full {
  width: 100%;
}

.img-fv {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

#main-wrapper {
  width: 100%;
  min-width: 1000px;
}

#content-wrapper {
  width: 1080px;
  margin: 0 auto;
}

.text-wrapper {
  width: 90%;
  margin: 0 auto;
}

.section-title {
  position: relative;
  display: inline-block;
}

.section-title::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 4px solid #ffcc33;
}

.section-subtitle {
  text-align: center;
}

/* Top */
.top-wrapper {
  position: relative;
}

.top-wrapper p {
  position: absolute;
}

.top__title {
  top: 12vw;
  left: 3vw;
}

.top__subtitle {
  top: 34vw;
  right: 3vw;
}

/* About */
.profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-wrapper img {
  width: 480px;
}

.profile-text-wrapper {
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profile-text-wrapper a {
  width: 100%;
}

.profile-text-wrapper a img {
  width: 30%;
}
/*# sourceMappingURL=main.css.map */