@import '../main/variables';
@import '../main/base';
@import '../main/layout';
@import '../main/state';

// Module
.fv-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 7vw;

	@include sp {
		flex-wrap: wrap;
	}

	img {
		width: 60%;
		height: 60%;

		@include sp {
			width: 100%;
			height: 100%;
		}
	}
}

.section-title {
	@extend .txt-xxxmedium;
}
.text-wrapper {
	p {
		@extend .txt-medium;
	}
}

.work-desc-wrapper {
	@extend .fv-wrapper;

	p {
		width: 45%;

		@include sp {
			width: 100%;
		}
	}
	img {
		width: 48%;
		height: 48%;

		@include sp {
			width: 100%;
			height: 100%;
		}
	}
}

.iframe-wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 65%;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
