// Base

@import 'variables';

// Noto Sans JP フォント
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
	box-sizing: border-box;
	list-style: none;

	ul {
		padding: 0;
	}
}

html,
body {
	font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Std W8',
		'Noto Sans JP', 'Hiragino Sans', Meiryo, sans-serif;
	margin: 0 auto;
	width: 100vw;
	font-size: 22px;
	line-height: 1.7;
	color: $mainColor;
	background-color: $baseColor;
}

// a要素のアンダーライン消す
.link {
	text-decoration: none;
}

// リンクをホバーした時
.linkHover:hover {
	opacity: 0.4;
}

// テキストサイズ
//styleGuide.md参照
.txt-xxlarge {
	font-size: $txt-xxlarge !important;
}
.txt-xlarge {
	font-size: $txt-xlarge !important;
}
.txt-large {
	font-size: $txt-large !important;
}
.txt-xxxmedium {
	font-size: $txt-xxxmedium !important;
}
.txt-xxmedium {
	font-size: $txt-xxmedium !important;
}
.txt-xmedium {
	font-size: $txt-xmedium !important;
}
.txt-medium {
	font-size: $txt-medium !important;
}
.txt-small {
	font-size: $txt-small !important;
}

// テキスト配置
.txt-left {
	text-align: left;
}
.txt-center {
	text-align: center;
}
.txt-right {
	text-align: right;
}

// フォント
.font-extra {
	font-family: 'Hiragino Kaku Gothic Std W8';
}
.font-emphasis {
	font-weight: bold;
}

// 画像サイズ
.img-full {
	width: 100%;
}
.img-fv {
	width: 100vw;
	margin: 0 calc(50% - 50vw);
}
