// Layout

@import 'variables';
@import 'base';

#main-wrapper {
	width: 100%;
}
#content-wrapper {
	width: 1080px;
	margin: 0 auto;

	@include sp {
		width: 75vw;
	}
	@include tab {
		width: 80vw;
	}
}

.section-wrapper {
	margin-bottom: 12%;
}

.subsection-wrapper {
	margin: 7% 0;
}

.text-wrapper {
	width: 90%;
	margin: 0 auto;
}

.section-title {
	@extend .txt-xlarge, .font-extra;
	position: relative;
	display: inline-block;
	margin: 0;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		border-bottom: 4px solid $accentColor;
	}
}

.section-subtitle {
	@extend .txt-xxxmedium;
	text-align: center;
	margin: 8% 0 3% 0;
}

// ヘッダー
#header {
	position: fixed;
	width: 100%;
	height: 10vh;
	background-color: $baseColor;
	z-index: 100;

	@include sp {
		height: 7vh;
	}
}
.header-wrapper {
	width: 1080px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

	@include sp {
		width: 75%;
	}

	@include tab {
		width: 80%;
	}
}

// フッター
#footer {
	background-color: rgba($mainColor, 0.4);
	color: $baseColor;
}
