// Layout

@import 'variables';
@import 'base';

#main-wrapper {
	width: 100%;
	min-width: 1000px;
}
#content-wrapper {
	width: 1080px;
	margin: 0 auto;
}

.subsection-wrapper {
	margin: 7% 0;
}

.text-wrapper {
	width: 90%;
	margin: 0 auto;
}

.section-title {
	@extend .txt-xlarge, .font-extra;
	position: relative;
	display: inline-block;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		border-bottom: 4px solid $accentColor;
	}
}

.section-subtitle {
	@extend .txt-xxxmedium;
	text-align: center;
}
