// Module

@import 'variables';

/* Top */
.top-wrapper {
	position: relative;
	p {
		position: absolute;
	}
}
.top__title {
	top: 12vw;
	left: 3vw;
}
.top__subtitle {
	top: 34vw;
	right: 3vw;
}

/* About */
// profile
.profile-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	img {
		width: $img-profile-width;
		@include sp {
			width: 100%;
			height: 100%;
		}
		@include tab {
			width: 45%;
		}
	}
}
.profile-text-wrapper {
	width: 480px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	@include tab {
		width: 45%;
	}
	a {
		width: 100%;
		img {
			width: 30%;
		}
	}
}

// skills
.skills-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	li {
		width: 100%;
		margin: 0.5% 0;

		ul {
			display: flex;
			justify-content: space-between;

			li {
				position: relative;
				width: $img-skill-width;
				height: $img-skill-width;

				@include sp {
					width: 17%;
					height: auto;
				}
				@include tab {
					width: 17%;
					height: auto;
				}

				img {
					width: 100%;
					height: 100%;
					&:last-child {
						position: absolute;
						top: 0;
						left: 0;
					}
				}
				span:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 60%;
					background-color: $baseColor;
				}
			}
		}
	}
}

// vision-wrapper
.vision-wrapper {
	p:first-child {
		position: relative;

		span {
			background: linear-gradient($baseColor 70%, $accentColor 0);
		}
	}
}

// inspire
.inspire-img-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 4%;

	@include sp {
		flex-wrap: wrap;
	}

	img {
		width: 45%;
		height: 45%;

		@include sp {
			width: 100%;
		}

		&:first-child {
			padding-bottom: 10%;
		}
		&:last-child {
			padding-top: 10%;
		}
	}
}

/* Works */
.cat-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 0 25%;

	@include sp {
		display: none;
	}
}
.works-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	li {
		width: 32%;
		margin-bottom: 2%;
		@include sp {
			width: 100%;
		}
	}
}
