// Module

@import 'variables';

/* Top */
.top-wrapper {
	position: relative;
	height: 100vh;
	p {
		position: absolute;
	}
}
.top__title {
	position: absolute;
	text-align: center;
	width: 100%;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.top-cover-wrapper {
	width: 100vw;
	position: absolute;
	height: 100vh;
	left: 0;
	z-index: 200;
}
.top-cover {
	width: 100%;
	height: 20vh;
	background-color: #fff;
	position: relative;
}
