// Module

@import 'variables';

/* header */
.header-wrapper {
	height: 100%;
	background-color: $baseColor;

	a {
		color: $mainColor !important;
	}
	p {
		position: relative;
		margin: auto 0;
	}

	ul {
		position: relative;
		display: flex;
		margin: auto 0;

		li:first-child {
			margin-right: 2vw;
		}
	}
}

/* Top */
.top-wrapper {
	position: relative;
	height: 100vh;
	p {
		position: absolute;
	}
}
.top__title {
	position: absolute;
	text-align: center;
	width: 100%;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.top-cover-wrapper {
	width: 100vw;
	position: absolute;
	height: 100vh;
	left: 0;
	z-index: 200;
}
.top-cover {
	width: 100%;
	height: 20vh;
	background-color: #fff;
	position: relative;
}

/* About */
// vision
.vision-wrapper {
	p:first-child {
		position: relative;
	}
	span {
		background: linear-gradient($baseColor 70%, $accentColor 0);
	}
}

// profile
.profile-wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	img {
		width: $img-profile-width;
		@include sp {
			width: 100%;
			height: 100%;
		}
		@include tab {
			width: 45%;
		}
	}
}
.profile-text-wrapper {
	width: 480px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	@include tab {
		width: 45%;
	}
	a {
		width: 30%;
		position: relative;
		img {
			width: 100%;

			&:last-child {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				transition: all 0.3s ease;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

// skills
.skills-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;

	li {
		width: 100%;
		margin: 1% 0;

		ul {
			display: flex;
			justify-content: space-between;

			li {
				position: relative;
				width: $img-skill-width;
				height: $img-skill-width + 30px;

				@include sp {
					width: 17%;
					height: auto;
				}
				@include tab {
					width: 17%;
					height: auto;
				}

				img {
					width: 100%;
					height: 80%;
					&:last-child {
						position: absolute;
						top: 0;
						left: 0;
					}
				}
				span {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 80%;
					background-color: $baseColor;
				}
			}
		}
	}
}
.skill-frame {
	position: absolute;
	top: 0;
	left: 0;
}
.skill-caption {
	text-align: center;
	transition: all 0.3s ease;
	height: auto !important;
	top: 80% !important;

	@include sp {
		display: none;
	}
	@include tab {
		display: none;
	}
}

/* Works */
.cat-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 0 25%;

	@include sp {
		display: none;
	}
}
.works-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	li {
		width: 32%;
		margin-bottom: 2%;
		@include sp {
			width: 100%;
		}
	}
}
.work-wrapper {
	position: relative;

	&:hover .work-mask {
		opacity: 1;
	}
	img {
		width: 100%;
	}
	a {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 10;
	}
}
.work-mask {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	width: 100%;
	height: 96%;
	top: 0;
	left: 0;
	transition: all 0.5s ease;
	opacity: 0;

	@include sp {
		display: none;
	}
	@include tab {
		display: none;
	}

	figcaption {
		color: $baseColor;
		padding-left: 1vw;
	}
}
