// State

//要素を非表示
.is-hide {
	display: none;
}

// メディアクエリで表示を切替
.is-hide--pc {
	display: none;
	@include sp {
		display: block;
	}
}

.is-hide--sp {
	display: block;
	@include sp {
		display: none;
	}
}

// iOS,iPadOSの時のみフォントを変更する
.js-font-extra-ios {
	font-family: 'Hiragino Kaku Gothic ProN' !important;
	font-weight: bold;
}
