// 変数を記述

// カラー
$baseColor: #f6f6f6;
$mainColor: #13131f;
$accentColor: #ffcc33;

// フォントサイズ
/* styleGuide
PC
100vw = 1920px を基にサイズを決定

.txt-xxlarge : 70px
.txt-xlarge : 50px
.txt-large : 44px
.txt-xxxmedium : 30px
.txt-xxmedium : 28px
.txt-xmedium : 24px
.txt-medium : 22px 基準サイズ
.txt-small : 16px

SP
100vw = 375px を基にサイズを決定
.txt-xxlarge : 22px
.txt-xlarge : 20px
.txt-large : 19px
.txt-xxxmedium : 18px
.txt-xxmedium : 16px
.txt-xmedium : 14px
.txt-medium : 12px 基準サイズ
.txt-small : 11px
*/
$txt-base: 1920;
$txt-xxlarge: 70 * 100vw / #{$txt-base};
$txt-xlarge: 50 * 100vw / #{$txt-base};
$txt-large: 42 * 100vw / #{$txt-base};
$txt-xxxmedium: 30 * 100vw / #{$txt-base};
$txt-xxmedium: 28 * 100vw / #{$txt-base};
$txt-xmedium: 24 * 100vw / #{$txt-base};
$txt-medium: 22 * 100vw / #{$txt-base};
// $txt-small: 16 * 100vw / #{$text-base};
$txt-small: 16px;

$txt-base-sp: 375;
$txt-xxlarge-sp: 22 * 100vw / #{$txt-base-sp};
$txt-xlarge-sp: 20 * 100vw / #{$txt-base-sp};
$txt-large-sp: 19 * 100vw / #{$txt-base-sp};
$txt-xxxmedium-sp: 18 * 100vw / #{$txt-base-sp};
$txt-xxmedium-sp: 16 * 100vw / #{$txt-base-sp};
$txt-xmedium-sp: 14 * 100vw / #{$txt-base-sp};
$txt-medium-sp: 12 * 100vw / #{$txt-base-sp};
$txt-small-sp: 11px;

// スキルアイコンのサイズ
$img-skill-width: 150px;

// プロフィール画像のサイズ
$img-profile-width: 370px;

/* メディアクエリ  */
$sp-width: 480px;
$tab-width: 1079px;
@mixin sp {
	@media screen and (max-width: $sp-width) {
		@content;
	}
}
@mixin tab {
	@media screen and (min-width: $sp-width) and (max-width: $tab-width) {
		@content;
	}
}
