@charset "UTF-8";
/* styleGuide
100vw = 1920px を基にサイズを決定

.txt-xxlarge : 70px
.txt-xlarge : 50px
.txt-large : 44px
.txt-xxxmedium : 30px
.txt-xxmedium : 28px
.txt-xmedium : 24px
.txt-medium : 22px 基準サイズ
.txt-small : 16px
*/
/* styleGuide
100vw = 1920px を基にサイズを決定

.txt-xxlarge : 70px
.txt-xlarge : 50px
.txt-large : 44px
.txt-xxxmedium : 30px
.txt-xxmedium : 28px
.txt-xmedium : 24px
.txt-medium : 22px 基準サイズ
.txt-small : 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

* ul {
  padding: 0;
}

html,
body {
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Std W8', 'Noto Sans JP', 'Hiragino Sans', Meiryo, sans-serif;
  margin: 0 auto;
  width: 100vw;
  font-size: 22px;
  line-height: 1.7;
  color: #13131f;
  background-color: #f6f6f6;
}

.link {
  text-decoration: none;
}

.linkHover:hover {
  opacity: 0.4;
}

.txt-xxlarge {
  font-size: 3.64583vw !important;
}

.txt-xlarge, .section-title {
  font-size: 2.60417vw !important;
}

.txt-large {
  font-size: 2.29167vw !important;
}

.txt-xxxmedium, .section-subtitle {
  font-size: 1.5625vw !important;
}

.txt-xxmedium {
  font-size: 1.45833vw !important;
}

.txt-xmedium {
  font-size: 1.25vw !important;
}

.txt-medium {
  font-size: 1.14583vw !important;
}

.txt-small {
  font-size: 16px !important;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.font-extra, .section-title {
  font-family: 'Hiragino Kaku Gothic Std W8';
}

.font-emphasis {
  font-weight: bold;
}

.img-full {
  width: 100%;
}

.img-fv {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

/* styleGuide
100vw = 1920px を基にサイズを決定

.txt-xxlarge : 70px
.txt-xlarge : 50px
.txt-large : 44px
.txt-xxxmedium : 30px
.txt-xxmedium : 28px
.txt-xmedium : 24px
.txt-medium : 22px 基準サイズ
.txt-small : 16px
*/
/* styleGuide
100vw = 1920px を基にサイズを決定

.txt-xxlarge : 70px
.txt-xlarge : 50px
.txt-large : 44px
.txt-xxxmedium : 30px
.txt-xxmedium : 28px
.txt-xmedium : 24px
.txt-medium : 22px 基準サイズ
.txt-small : 16px
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

* ul {
  padding: 0;
}

html,
body {
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Std W8', 'Noto Sans JP', 'Hiragino Sans', Meiryo, sans-serif;
  margin: 0 auto;
  width: 100vw;
  font-size: 22px;
  line-height: 1.7;
  color: #13131f;
  background-color: #f6f6f6;
}

.link {
  text-decoration: none;
}

.linkHover:hover {
  opacity: 0.4;
}

.txt-xxlarge {
  font-size: 3.64583vw !important;
}

.txt-xlarge, .section-title {
  font-size: 2.60417vw !important;
}

.txt-large {
  font-size: 2.29167vw !important;
}

.txt-xxxmedium, .section-subtitle {
  font-size: 1.5625vw !important;
}

.txt-xxmedium {
  font-size: 1.45833vw !important;
}

.txt-xmedium {
  font-size: 1.25vw !important;
}

.txt-medium {
  font-size: 1.14583vw !important;
}

.txt-small {
  font-size: 16px !important;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.font-extra, .section-title {
  font-family: 'Hiragino Kaku Gothic Std W8';
}

.font-emphasis {
  font-weight: bold;
}

.img-full {
  width: 100%;
}

.img-fv {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

#main-wrapper {
  width: 100%;
  min-width: 1000px;
}

#content-wrapper {
  width: 1080px;
  margin: 0 auto;
}

.subsection-wrapper {
  margin: 7% 0;
}

.text-wrapper {
  width: 90%;
  margin: 0 auto;
}

.section-title {
  position: relative;
  display: inline-block;
}

.section-title::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 4px solid #ffcc33;
}

.section-subtitle {
  text-align: center;
}

/* styleGuide
100vw = 1920px を基にサイズを決定

.txt-xxlarge : 70px
.txt-xlarge : 50px
.txt-large : 44px
.txt-xxxmedium : 30px
.txt-xxmedium : 28px
.txt-xmedium : 24px
.txt-medium : 22px 基準サイズ
.txt-small : 16px
*/
/* Top */
.top-wrapper {
  position: relative;
}

.top-wrapper p {
  position: absolute;
}

.top__title {
  top: 12vw;
  left: 3vw;
}

.top__subtitle {
  top: 34vw;
  right: 3vw;
}

/* About */
.profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-wrapper img {
  width: 480px;
}

.profile-text-wrapper {
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profile-text-wrapper a {
  width: 100%;
}

.profile-text-wrapper a img {
  width: 30%;
}

.skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-wrapper li {
  width: 100%;
  margin: 0.5% 0;
}

.skills-wrapper li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-wrapper li ul li {
  position: relative;
  width: 150px;
  height: 150px;
}

.skills-wrapper li ul li img {
  width: 100%;
  height: 100%;
}

.skills-wrapper li ul li img:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

.skills-wrapper li ul li span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: #f6f6f6;
}

.inspire-img-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inspire-img-wrapper img:first-child {
  padding-bottom: 10%;
}

.inspire-img-wrapper img:last-child {
  padding-top: 10%;
}

/* Works */
.cat-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25%;
}

.works-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-wrapper li {
  width: 330px;
}

.is-hide {
  display: none;
}
/*# sourceMappingURL=main.css.map */