@charset "UTF-8";
/* styleGuide
PC
100vw = 1920px を基にサイズを決定

.txt-xxlarge : 70px
.txt-xlarge : 50px
.txt-large : 44px
.txt-xxxmedium : 30px
.txt-xxmedium : 28px
.txt-xmedium : 24px
.txt-medium : 22px 基準サイズ
.txt-xsmall : 22px固定
.txt-small : 16px
*/
/*
SP
100vw = 375px を基にサイズを決定
.txt-xxlarge : 22px
.txt-xlarge : 20px
.txt-large : 19px
.txt-xxxmedium : 18px
.txt-xxmedium : 16px
.txt-xmedium : 14px
.txt-medium : 12px 基準サイズ
.txt-xsmall : 12px 固定
.txt-small : 11px
*/
/* メディアクエリ  */
/* styleGuide
PC
100vw = 1920px を基にサイズを決定

.txt-xxlarge : 70px
.txt-xlarge : 50px
.txt-large : 44px
.txt-xxxmedium : 30px
.txt-xxmedium : 28px
.txt-xmedium : 24px
.txt-medium : 22px 基準サイズ
.txt-xsmall : 22px固定
.txt-small : 16px
*/
/*
SP
100vw = 375px を基にサイズを決定
.txt-xxlarge : 22px
.txt-xlarge : 20px
.txt-large : 19px
.txt-xxxmedium : 18px
.txt-xxmedium : 16px
.txt-xmedium : 14px
.txt-medium : 12px 基準サイズ
.txt-xsmall : 12px 固定
.txt-small : 11px
*/
/* メディアクエリ  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

* ul {
  padding: 0;
}

* p {
  margin: 4% 0 0 0;
}

html,
body {
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Std W8', 'Noto Sans JP', 'Hiragino Sans', Meiryo, sans-serif;
  margin: 0 auto;
  width: 100vw;
  font-size: 22px;
  line-height: 1.7;
  color: #13131f;
  background-color: #f6f6f6;
}

.link-txt:link,
.link-txt:visited {
  color: #245fbb;
}

.link-underline--none {
  text-decoration: none;
}

.linkHover:hover {
  opacity: 0.4;
}

.txt-xxlarge {
  font-size: 3.64583vw !important;
}

@media screen and (max-width: 480px) {
  .txt-xxlarge {
    font-size: 5.86667vw !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 1079px) {
  .txt-xxlarge {
    font-size: 50px !important;
  }
}

.txt-xlarge, .section-title {
  font-size: 2.60417vw !important;
}

@media screen and (max-width: 480px) {
  .txt-xlarge, .section-title {
    font-size: 5.33333vw !important;
  }
}

.txt-large {
  font-size: 2.1875vw !important;
}

@media screen and (max-width: 480px) {
  .txt-large {
    font-size: 5.06667vw !important;
  }
}

.txt-xxxmedium, .section-subtitle {
  font-size: 1.5625vw !important;
}

@media screen and (max-width: 480px) {
  .txt-xxxmedium, .section-subtitle {
    font-size: 4.8vw !important;
  }
}

.txt-xxmedium {
  font-size: 1.45833vw !important;
}

@media screen and (max-width: 480px) {
  .txt-xxmedium {
    font-size: 4.26667vw !important;
  }
}

.txt-xmedium {
  font-size: 1.25vw !important;
}

@media screen and (max-width: 480px) {
  .txt-xmedium {
    font-size: 3.73333vw !important;
  }
}

.txt-medium {
  font-size: 1.14583vw !important;
}

@media screen and (max-width: 480px) {
  .txt-medium {
    font-size: 3.2vw !important;
  }
}

.txt-xsmall {
  font-size: 22px !important;
}

@media screen and (max-width: 480px) {
  .txt-xsmall {
    font-size: 12px !important;
  }
}

.txt-small {
  font-size: 16px !important;
}

@media screen and (max-width: 480px) {
  .txt-small {
    font-size: 11px !important;
  }
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.font-extra, .section-title {
  font-family: 'Hiragino Kaku Gothic Std W8';
}

.font-emphasis {
  font-weight: bold;
}

.img-full {
  width: 100%;
}

.img-fv {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

/* styleGuide
PC
100vw = 1920px を基にサイズを決定

.txt-xxlarge : 70px
.txt-xlarge : 50px
.txt-large : 44px
.txt-xxxmedium : 30px
.txt-xxmedium : 28px
.txt-xmedium : 24px
.txt-medium : 22px 基準サイズ
.txt-xsmall : 22px固定
.txt-small : 16px
*/
/*
SP
100vw = 375px を基にサイズを決定
.txt-xxlarge : 22px
.txt-xlarge : 20px
.txt-large : 19px
.txt-xxxmedium : 18px
.txt-xxmedium : 16px
.txt-xmedium : 14px
.txt-medium : 12px 基準サイズ
.txt-xsmall : 12px 固定
.txt-small : 11px
*/
/* メディアクエリ  */
/* styleGuide
PC
100vw = 1920px を基にサイズを決定

.txt-xxlarge : 70px
.txt-xlarge : 50px
.txt-large : 44px
.txt-xxxmedium : 30px
.txt-xxmedium : 28px
.txt-xmedium : 24px
.txt-medium : 22px 基準サイズ
.txt-xsmall : 22px固定
.txt-small : 16px
*/
/*
SP
100vw = 375px を基にサイズを決定
.txt-xxlarge : 22px
.txt-xlarge : 20px
.txt-large : 19px
.txt-xxxmedium : 18px
.txt-xxmedium : 16px
.txt-xmedium : 14px
.txt-medium : 12px 基準サイズ
.txt-xsmall : 12px 固定
.txt-small : 11px
*/
/* メディアクエリ  */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

* ul {
  padding: 0;
}

* p {
  margin: 4% 0 0 0;
}

html,
body {
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Std W8', 'Noto Sans JP', 'Hiragino Sans', Meiryo, sans-serif;
  margin: 0 auto;
  width: 100vw;
  font-size: 22px;
  line-height: 1.7;
  color: #13131f;
  background-color: #f6f6f6;
}

.link-txt:link,
.link-txt:visited {
  color: #245fbb;
}

.link-underline--none {
  text-decoration: none;
}

.linkHover:hover {
  opacity: 0.4;
}

.txt-xxlarge {
  font-size: 3.64583vw !important;
}

@media screen and (max-width: 480px) {
  .txt-xxlarge {
    font-size: 5.86667vw !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 1079px) {
  .txt-xxlarge {
    font-size: 50px !important;
  }
}

.txt-xlarge, .section-title {
  font-size: 2.60417vw !important;
}

@media screen and (max-width: 480px) {
  .txt-xlarge, .section-title {
    font-size: 5.33333vw !important;
  }
}

.txt-large {
  font-size: 2.1875vw !important;
}

@media screen and (max-width: 480px) {
  .txt-large {
    font-size: 5.06667vw !important;
  }
}

.txt-xxxmedium, .section-subtitle {
  font-size: 1.5625vw !important;
}

@media screen and (max-width: 480px) {
  .txt-xxxmedium, .section-subtitle {
    font-size: 4.8vw !important;
  }
}

.txt-xxmedium {
  font-size: 1.45833vw !important;
}

@media screen and (max-width: 480px) {
  .txt-xxmedium {
    font-size: 4.26667vw !important;
  }
}

.txt-xmedium {
  font-size: 1.25vw !important;
}

@media screen and (max-width: 480px) {
  .txt-xmedium {
    font-size: 3.73333vw !important;
  }
}

.txt-medium {
  font-size: 1.14583vw !important;
}

@media screen and (max-width: 480px) {
  .txt-medium {
    font-size: 3.2vw !important;
  }
}

.txt-xsmall {
  font-size: 22px !important;
}

@media screen and (max-width: 480px) {
  .txt-xsmall {
    font-size: 12px !important;
  }
}

.txt-small {
  font-size: 16px !important;
}

@media screen and (max-width: 480px) {
  .txt-small {
    font-size: 11px !important;
  }
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.font-extra, .section-title {
  font-family: 'Hiragino Kaku Gothic Std W8';
}

.font-emphasis {
  font-weight: bold;
}

.img-full {
  width: 100%;
}

.img-fv {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

#main-wrapper {
  width: 100%;
}

#content-wrapper {
  width: 1080px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  #content-wrapper {
    width: 75vw;
  }
}

@media screen and (min-width: 480px) and (max-width: 1079px) {
  #content-wrapper {
    width: 80vw;
  }
}

.section-wrapper {
  margin-bottom: 12%;
}

.subsection-wrapper {
  margin: 7% 0;
}

.text-wrapper {
  width: 90%;
  margin: 0 auto;
}

.section-title {
  position: relative;
  display: inline-block;
  margin: 0;
}

.section-title::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 4px solid #ffcc33;
}

.section-subtitle {
  text-align: center;
  margin: 8% 0 3% 0;
}

#header {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: #f6f6f6;
  z-index: 100;
}

@media screen and (max-width: 480px) {
  #header {
    height: 7vh;
  }
}

.header-wrapper {
  width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .header-wrapper {
    width: 75%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1079px) {
  .header-wrapper {
    width: 80%;
  }
}

#footer {
  background-color: rgba(19, 19, 31, 0.4);
  color: #f6f6f6;
}

/* styleGuide
PC
100vw = 1920px を基にサイズを決定

.txt-xxlarge : 70px
.txt-xlarge : 50px
.txt-large : 44px
.txt-xxxmedium : 30px
.txt-xxmedium : 28px
.txt-xmedium : 24px
.txt-medium : 22px 基準サイズ
.txt-xsmall : 22px固定
.txt-small : 16px
*/
/*
SP
100vw = 375px を基にサイズを決定
.txt-xxlarge : 22px
.txt-xlarge : 20px
.txt-large : 19px
.txt-xxxmedium : 18px
.txt-xxmedium : 16px
.txt-xmedium : 14px
.txt-medium : 12px 基準サイズ
.txt-xsmall : 12px 固定
.txt-small : 11px
*/
/* メディアクエリ  */
/* header */
.header-wrapper {
  height: 100%;
  background-color: #f6f6f6;
}

.header-wrapper a {
  color: #13131f !important;
}

.header-wrapper p {
  position: relative;
  margin: auto 0;
}

.header-wrapper ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}

.header-wrapper ul li:first-child {
  margin-right: 2vw;
}

/* styleGuide
PC
100vw = 1920px を基にサイズを決定

.txt-xxlarge : 70px
.txt-xlarge : 50px
.txt-large : 44px
.txt-xxxmedium : 30px
.txt-xxmedium : 28px
.txt-xmedium : 24px
.txt-medium : 22px 基準サイズ
.txt-xsmall : 22px固定
.txt-small : 16px
*/
/*
SP
100vw = 375px を基にサイズを決定
.txt-xxlarge : 22px
.txt-xlarge : 20px
.txt-large : 19px
.txt-xxxmedium : 18px
.txt-xxmedium : 16px
.txt-xmedium : 14px
.txt-medium : 12px 基準サイズ
.txt-xsmall : 12px 固定
.txt-small : 11px
*/
/* メディアクエリ  */
/* Top */
.top-wrapper {
  position: relative;
  height: 100vh;
}

.top-wrapper p {
  position: absolute;
}

.top__title {
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.top-cover-wrapper {
  width: 100vw;
  position: absolute;
  height: 100vh;
  left: 0;
  z-index: 200;
}

.top-cover {
  width: 100%;
  height: 20vh;
  background-color: #fff;
  position: relative;
}

/* styleGuide
PC
100vw = 1920px を基にサイズを決定

.txt-xxlarge : 70px
.txt-xlarge : 50px
.txt-large : 44px
.txt-xxxmedium : 30px
.txt-xxmedium : 28px
.txt-xmedium : 24px
.txt-medium : 22px 基準サイズ
.txt-xsmall : 22px固定
.txt-small : 16px
*/
/*
SP
100vw = 375px を基にサイズを決定
.txt-xxlarge : 22px
.txt-xlarge : 20px
.txt-large : 19px
.txt-xxxmedium : 18px
.txt-xxmedium : 16px
.txt-xmedium : 14px
.txt-medium : 12px 基準サイズ
.txt-xsmall : 12px 固定
.txt-small : 11px
*/
/* メディアクエリ  */
/* About */
.vision-wrapper p:first-child {
  position: relative;
}

.vision-wrapper span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #f6f6f6), color-stop(0, #ffcc33));
  background: linear-gradient(#f6f6f6 70%, #ffcc33 0);
}

.profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profile-wrapper img {
  width: 370px;
}

@media screen and (max-width: 480px) {
  .profile-wrapper img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1079px) {
  .profile-wrapper img {
    width: 45%;
  }
}

.profile-text-wrapper {
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 480px) and (max-width: 1079px) {
  .profile-text-wrapper {
    width: 45%;
  }
}

.profile-text-wrapper a {
  width: 30%;
  position: relative;
}

.profile-text-wrapper a img {
  width: 100%;
}

.profile-text-wrapper a img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile-text-wrapper a img:last-child:hover {
  opacity: 1;
}

.skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.skills-wrapper li {
  width: 100%;
  margin: 1% 0;
}

.skills-wrapper li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-wrapper li ul li {
  position: relative;
  width: 120px;
  height: 150px;
}

@media screen and (max-width: 480px) {
  .skills-wrapper li ul li {
    width: 17%;
    height: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 1079px) {
  .skills-wrapper li ul li {
    width: 17%;
    height: auto;
  }
}

.skills-wrapper li ul li img {
  width: 100%;
  height: 80%;
}

.skills-wrapper li ul li img:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

.skills-wrapper li ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: #f6f6f6;
}

.skill-frame {
  position: absolute;
  top: 0;
  left: 0;
}

.skill-caption {
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: auto !important;
  top: 80% !important;
}

@media screen and (max-width: 480px) {
  .skill-caption {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 1079px) {
  .skill-caption {
    display: none;
  }
}

/* styleGuide
PC
100vw = 1920px を基にサイズを決定

.txt-xxlarge : 70px
.txt-xlarge : 50px
.txt-large : 44px
.txt-xxxmedium : 30px
.txt-xxmedium : 28px
.txt-xmedium : 24px
.txt-medium : 22px 基準サイズ
.txt-xsmall : 22px固定
.txt-small : 16px
*/
/*
SP
100vw = 375px を基にサイズを決定
.txt-xxlarge : 22px
.txt-xlarge : 20px
.txt-large : 19px
.txt-xxxmedium : 18px
.txt-xxmedium : 16px
.txt-xmedium : 14px
.txt-medium : 12px 基準サイズ
.txt-xsmall : 12px 固定
.txt-small : 11px
*/
/* メディアクエリ  */
/* Works */
.cat-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25%;
}

@media screen and (max-width: 480px) {
  .cat-wrapper {
    display: none;
  }
}

.works-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-wrapper li {
  width: 32%;
  margin-bottom: 2%;
}

@media screen and (max-width: 480px) {
  .works-wrapper li {
    width: 100%;
  }
}

.work-wrapper {
  position: relative;
}

.work-wrapper:hover .work-mask {
  opacity: 1;
}

.work-wrapper img {
  width: 100%;
}

.work-wrapper a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.work-mask {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 96%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .work-mask {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 1079px) {
  .work-mask {
    display: none;
  }
}

.work-mask figcaption {
  color: #f6f6f6;
  padding-left: 1vw;
}

.is-hide {
  display: none;
}

.is-hide--pc {
  display: none;
}

@media screen and (max-width: 480px) {
  .is-hide--pc {
    display: block;
  }
}

.is-hide--sp {
  display: block;
}

@media screen and (max-width: 480px) {
  .is-hide--sp {
    display: none;
  }
}

.js-font-extra-ios {
  font-family: 'Hiragino Kaku Gothic ProN' !important;
  font-weight: bold;
}

@-webkit-keyframes fadeOutLtoR {
  0% {
    left: 0;
  }
  100% {
    left: 100vw;
  }
}

@keyframes fadeOutLtoR {
  0% {
    left: 0;
  }
  100% {
    left: 100vw;
  }
}

@-webkit-keyframes fadeOutRtoL {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}

@keyframes fadeOutRtoL {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}

.fadeOutLtoR {
  -webkit-animation: fadeOutLtoR 0.8s forwards;
          animation: fadeOutLtoR 0.8s forwards;
}

.fadeOutRtoL {
  -webkit-animation: fadeOutRtoL 0.8s forwards;
          animation: fadeOutRtoL 0.8s forwards;
}
/*# sourceMappingURL=main.css.map */